.zCalendarSection {
	height: calc(100vh - 10vh);
	margin: 0 0 1rem 0;
	// background: var(--zephyrus-color-background);
	// background: #bb86fc;
	transition: border-radius 300ms cubic-bezier(0.2, 0, 0, 1),
		background-color 300ms cubic-bezier(0.2, 0, 0, 1);
	border-radius: 24px;
	width: 100%;
	// padding: 24px;
	color: var(--zephyrus-color-on-background);
	display: flex;
	align-items: center;
	justify-content: space-between;

	.row > * {
		// padding-right: calc(0 * 0.5) !important;
		// padding-left: calc(0 * 0.5) !important;
	}

	.zRow {
		margin-left: calc(var(--mdb-gutter-x) * -0) !important;
		height: inherit;
		// background: aqua;
		width: inherit;
		border-radius: 24px;

		.zFilteringCol {
			mat-divider {
				margin-bottom: 36px;
				margin-top: 24px;
			}
			// padding-left: calc(0 * 0.5) !important;

			border-radius: 24px;
			padding-right: 1rem;
			padding-left: 0 !important;

			.zCardC {
				// border: 1px solid var(--zephyrus-color-outline-variant);
				background: var(--zephyrus-color-background);
				border-radius: 24px;
				padding: 30px 30px 5px 30px;
				margin-bottom: 2rem;
				transition: border-radius 300ms cubic-bezier(0.2, 0, 0, 1),
					background-color 300ms cubic-bezier(0.2, 0, 0, 1);

				height: 100%;
				font-family: var(--zephyrus-font-family) !important;

				&:hover,
				&:focus {
					// border: none;
					border-radius: 48px;
					// outline: 2px solid var(--zephyrus-color-on-surface);
					color: var(--zephyrus-color-on-secondary-container);
					// box-shadow: initial;
					// background: var(--zephyrus-color-inverse-primary);
					// background: var(--zephyrus-color-secondary-container);
				}

				.zTitle {
					margin-bottom: 1.5rem;
					// color: var(--zephyrus-color-on-surface);
					color: var(--zephyrus-color-on-secondary-container);
					font-family: var(--zephyrus-typescale-body-medium-font-family-name);
					font-style: var(--zephyrus-typescale-body-medium-font-family-style);
					font-weight: var(--zephyrus-typescale-body-medium-font-weight);
					font-size: var(--zephyrus-typescale-body-medium-font-size);
					letter-spacing: var(--zephyrus-typescale-body-medium-tracking);
					line-height: var(--zephyrus-typescale-body-medium-height);
					text-transform: var(--zephyrus-typescale-body-medium-text-transform);
					text-decoration: var(--zephyrus-typescale-body-medium-text-decoration);
					max-width: 640px;
				}

				.zLabel {
					color: var(--zephyrus-color-on-surface);
					font-family: var(--zephyrus-v2-body-l-font-family);
					font-size: var(--zephyrus-v2-body-l-font-size);
					font-weight: var(--zephyrus-v2-body-l-font-weight);
					letter-spacing: var(--zephyrus-v2-body-l-letter-spacing);
					line-height: var(--zephyrus-v2-body-l-line-height);
					font-variation-settings: 'GRAD' var(--zephyrus-v2-body-l-font-variation-GRAD),
						'opsz' var(--mio-theme-v2-body-l-font-variation-opsz);
					max-width: 640px;
				}
			}
		}
		.zCalendarCol {
			background: var(--zephyrus-color-background);
			border-radius: 24px;
		}
	}
}

.zCalendar {
	font-family: var(--zephyrus-font-family) !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	// background-color: #ff0000;
	border-radius: 8px;
	// box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
	width: 100%;
	max-width: 100%;
	padding: 16px;
	height: 100%;

	.zCalendarheader {
		margin-bottom: 1rem;
		margin-top: 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		.options-left {
			margin-right: auto;
			display: flex;
			justify-content: flex-start;
			align-items: center;

			button {
				color: rgb(60, 64, 67) !important;
				padding: 0 12px 0 12px;

				font-size: 0.875rem;
				letter-spacing: 0.0107142857em;
				font-weight: 500;
				text-transform: none;
				margin-right: 1rem;
			}

			h2 {
				color: var(--on-surface);
				font-size: 22px;
				font-weight: 400;
				letter-spacing: 0;
				line-height: 28px;
				white-space: nowrap;
				text-transform: capitalize;
			}
		}

		.options-right {
			margin-left: auto;
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}

		h2 {
			font-size: 24px;
			font-weight: 500;
			margin: 0;
			color: #212121;
		}
	}

	.calendar-grid {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		gap: 4px;
		width: 100%;
		margin-top: 16px;

		.day-header {
			color: #70757a;
			text-align: center;
			text-transform: uppercase;

			font-size: 11px;
			font-weight: 500;
			line-height: 20px;
		}

		.calendar-day {
			border: rgb(218, 220, 224) 1px solid;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-direction: column;
			// background-color: #f5f5f5;
			cursor: pointer;
			height: calc((90vh - 195px) / 6);
			width: 100%;
			border-radius: 8px;
			position: relative;

			&.range {
				// background-color: #bb86fc;
				// color: #ffffff;
			}

			p {
				margin-top: 8px;
				font-size: 12px;
				font-weight: 500;
				letter-spacing: 0.3px;
				display: inline-block;
				white-space: nowrap;
				width: max-content;
				min-width: 24px;
				text-align: center;
			}

			.day-wrapper {
				width: 100%;
				height: 100%;
				position: absolute;

				.time-line {
					position: absolute;
					width: 100%;
					height: 10px;
					padding: 0 8px;
					line-height: 20px;
					color: #fff;
					font-size: 12px;
					border-radius: 4px;
					border: 1px solid transparent;
					z-index: 2;
					left: 0;

					&.range-0 {
						top: 31%;
						background-color: #039be5;
					}

					&.range-1 {
						top: 42%;
						background-color: #33b679;
					}

					&.range-2 {
						top: 53%;
						background-color: #f6bf26;
					}

					&.range-3 {
						top: 64%;
						background-color: #d50000;
					}

					&.range-4 {
						top: 75%;
						background-color: #3f51b5;
					}
				}
			}
		}
	}
}
// #D50000
// #E67C73
// #F4511E
// #F6BF26
// #33B679
// #0B8043
// #039BE5
// #3F51B5
// #7986CB
// #8E24AA
// #616161
