.zHome {
	height: 100%;
	background: var(--zephyrus-color-background);

	.zHomeLeft {
		// background: url('../../../assets/brand/photos/background/1.jpg');
		background-size: cover;
		border-top-right-radius: 96px;
		border-bottom-right-radius: 96px;
		height: 100vh;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;

		span {
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.45);
			height: 100%;
			width: 100%;
			border-top-right-radius: 96px;
			border-bottom-right-radius: 96px;
			z-index: 3;
		}

		img {
			z-index: 4;
			margin-bottom: 2rem;
			height: 60px;
		}

		h1 {
			z-index: 4;
			color: var(--zephyrus-color-background);

			font-family: var(--zephyrus-typescale-display-medium-font-family-name);
			font-style: var(--zephyrus-typescale-display-medium-font-family-style);
			font-weight: var(--zephyrus-typescale-display-medium-font-weight);
			font-size: var(--zephyrus-typescale-display-medium-font-size);
			letter-spacing: var(--zephyrus-typescale-display-medium-tracking);
			line-height: var(--zephyrus-typescale-display-medium-height);
			text-transform: var(--zephyrus-typescale-display-medium-text-transform);
			text-decoration: var(--zephyrus-typescale-display-medium-text-decoration);
		}

		h3 {
			z-index: 4;

			color: var(--zephyrus-color-background);
			font-family: var(--zephyrus-font-family);
			font-size: var(--zephyrus-display-xxl-font-size);
			font-weight: bold;
			letter-spacing: -0.2rem;
			line-height: var(--zephyrus-display-xxl-line-height);
			font-variation-settings: 'GRAD' var(--zephyrus-display-xxl-font-variation-GRAD),
				'opsz' var(--zephyrus-display-xxl-font-variation-opsz);
		}
	}

	.zHomeRight {
		background: var(--zephyrus-color-background);
		height: 100vh;
		display: flex;
		justify-content: center;
		// align-items: center;
		padding: 48px;

		.zContainerTabs {
			height: 100%;
			width: 100%;
			padding-left: 0 !important;
			.mat-mdc-tab-body-content {
				overflow-y: hidden !important;
			}
			.zBlockTab {
				height: 100% !important;
			}
		}

		.zCardHome {
			padding: 48px;
			margin-top: 2rem;
			width: 100%;
			border-radius: 28px;
			transition: background 200ms, box-shadow 150ms;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			transform: translateZ(0);
			box-shadow: 0 0 0 0 transparent;
			// border-radius: 8px;
			&:hover,
			&:focus {
				border-radius: 48px;
				// background: var(--zephyrus-color-surface-1);
				border: initial;
				// outline: 2px solid var(--zephyrus-color-on-surface);
				box-shadow: initial;
				// background: var(--zephyrus-color-secondary-container);
			}

			.zContainerButtons {
				display: flex;
				justify-content: flex-end;
				align-items: flex-end;
			}

			img {
				border-radius: 50%;
				margin-bottom: 2rem;
				height: 150px;
				width: 150px;
			}

			h2 {
				color: var(--zephyrus-color-on-background);
			}

			p {
				color: var(--zephyrus-color-on-background);
				margin-bottom: 3rem;
			}
		}

		.zCardHome:hover .cws-headline {
			color: #202124 !important;
		}
		.zCardHome:hover .cws-body {
			color: #5f6368 !important;
		}
	}
}
