/* ZEPHYRUS Z CARD CREATE KAM PERSONA START */

.zContainerCreate {
	margin-top: 2rem;

	.row {
		--mdb-gutter-x: 0 !important;
		--mdb-gutter-y: 0 !important;
	}

	.zCardC {
		// border: 1px solid var(--zephyrus-color-outline-variant);
		background: var(--zephyrus-color-background);
		border-radius: 24px;
		padding: 30px 30px 5px 30px;
		margin-bottom: 2rem;
		transition: border-radius 300ms cubic-bezier(0.2, 0, 0, 1),
			background-color 300ms cubic-bezier(0.2, 0, 0, 1);

		&:hover,
		&:focus {
			// border: none;
			border-radius: 48px;
			// outline: 2px solid var(--zephyrus-color-on-surface);
			color: var(--zephyrus-color-on-secondary-container);
			// box-shadow: initial;
			// background: var(--zephyrus-color-inverse-primary);
			// background: var(--zephyrus-color-secondary-container);
		}

		.zTitle {
			margin-bottom: 1.5rem;
			// color: var(--zephyrus-color-on-surface);
			color: var(--zephyrus-color-on-secondary-container);
			font-family: var(--zephyrus-typescale-headline-small-font-family-name);
			font-style: var(--zephyrus-typescale-headline-small-font-family-style);
			font-weight: var(--zephyrus-typescale-headline-small-font-weight);
			font-size: var(--zephyrus-typescale-headline-small-font-size);
			letter-spacing: var(--zephyrus-typescale-headline-small-tracking);
			line-height: var(--zephyrus-typescale-headline-small-height);
			text-transform: var(--zephyrus-typescale-headline-small-text-transform);
			text-decoration: var(--zephyrus-typescale-headline-small-text-decoration);
			max-width: 640px;
		}

		.zLabel {
			color: var(--zephyrus-color-on-surface);
			font-family: var(--zephyrus-v2-body-l-font-family);
			font-size: var(--zephyrus-v2-body-l-font-size);
			font-weight: var(--zephyrus-v2-body-l-font-weight);
			letter-spacing: var(--zephyrus-v2-body-l-letter-spacing);
			line-height: var(--zephyrus-v2-body-l-line-height);
			font-variation-settings: 'GRAD' var(--zephyrus-v2-body-l-font-variation-GRAD),
				'opsz' var(--mio-theme-v2-body-l-font-variation-opsz);
			max-width: 640px;
		}
	}

	.row {
		.block-right {
			padding: 0rem 0rem 0rem 1rem !important;
		}
		.block-left {
			padding: 0rem 1rem 0rem 0rem !important;
		}
	}
	font-family: var(--zephyrus-font-family);
}

/* ZEPHYRUS Z CARD CREATE KAM PERSONA END */

.zCard {
	background: var(--zephyrus-color-background);
	border-radius: 24px;
	padding: 30px 30px 5px 30px;
	margin-bottom: 2rem;
	transition: border-radius 300ms cubic-bezier(0.2, 0, 0, 1),
		background-color 300ms cubic-bezier(0.2, 0, 0, 1);

	&:hover,
	&:focus {
		// border: none;
		border-radius: 48px;
		// outline: 2px solid var(--zephyrus-color-on-surface);
		color: var(--zephyrus-color-on-secondary-container);
		// box-shadow: initial;
		background: var(--zephyrus-color-inverse-primary);
		// background: var(--zephyrus-color-secondary-container);
	}

	.zTitle {
		margin-bottom: 1.5rem;
		// color: var(--zephyrus-color-on-surface);
		color: var(--zephyrus-color-on-secondary-container);
		font-family: var(--zephyrus-typescale-headline-small-font-family-name);
		font-style: var(--zephyrus-typescale-headline-small-font-family-style);
		font-weight: var(--zephyrus-typescale-headline-small-font-weight);
		font-size: var(--zephyrus-typescale-headline-small-font-size);
		letter-spacing: var(--zephyrus-typescale-headline-small-tracking);
		line-height: var(--zephyrus-typescale-headline-small-height);
		text-transform: var(--zephyrus-typescale-headline-small-text-transform);
		text-decoration: var(--zephyrus-typescale-headline-small-text-decoration);
	}

	.zLabel {
		color: var(--zephyrus-color-on-surface);
		font-family: var(--zephyrus-typescale-body-large-font-family-name);
		font-style: var(--zephyrus-typescale-body-large-font-family-style);
		font-weight: var(--zephyrus-typescale-body-large-font-weight);
		font-size: var(--zephyrus-typescale-body-large-font-size);
		letter-spacing: var(--zephyrus-typescale-body-large-tracking);
		line-height: var(--zephyrus-typescale-body-large-height);
		text-transform: var(--zephyrus-typescale-body-large-text-transform);
		text-decoration: var(--zephyrus-typescale-body-large-text-decoration);
	}
}
