.zBreadcrumb {
	// border: 1px solid var(--zephyrus-color-surface-variant);

	margin: 0 0 1rem 0;
	background: var(--zephyrus-color-background);
	transition: border-radius 300ms cubic-bezier(0.2, 0, 0, 1), background-color 300ms cubic-bezier(0.2, 0, 0, 1);
	border-radius: 24px;
	width: 100%;
	padding: 7px 8px;
	color: var(--zephyrus-color-on-background);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	// border: 1px solid var(--zephyrus-color-outline-variant);
	// box-shadow: 0 0.5px 0.5px 0 rgba(60, 64, 67, 0.1), 0 1px 2px 0.5px rgba(60, 64, 67, 0.05);

	.options-left {
		margin-right: auto;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		img {
			height: 40px;
			margin-left: 1rem;
		}
		.zInputTitle {
			margin-left: 0.5rem;
			background: none;
			border-radius: 4px !important;
			padding: 1px 6px;
			font-family: var(--zephyrus-font-family) !important;
			font-size: 18px;
			font-variant-ligatures: no-contextual;
			height: 20px;
			line-height: 22px;
			margin: 0;
			border: 1px solid transparent;
			resize: vertical; /* Permite redimensionamiento vertical */
			width: 250px; /* Tamaño inicial del campo de entrada */
			min-width: 1px;
			direction: ltr;
			unicode-bidi: isolate;
		}
		.text {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;
			margin: 0 0 0 1rem;
			font-family: var(--zephyrus-font-family);
			h2 {
				margin: 0;
				font-family: var(--zephyrus-typescale-headline-large-font-family-name);
				font-style: var(--zephyrus-typescale-headline-large-font-family-style);
				font-weight: var(--zephyrus-typescale-headline-large-font-weight);
				font-size: var(--zephyrus-typescale-headline-large-font-size);
				letter-spacing: var(--zephyrus-typescale-headline-large-tracking);
				line-height: var(--zephyrus-typescale-headline-large-height);
				text-transform: var(--zephyrus-typescale-headline-large-text-transform);
				text-decoration: var(--zephyrus-typescale-headline-large-text-decoration);
			}
		}
		p {
			margin-left: 7px !important;
			color: #5f6368 !important;
			margin: 0;
			font-family: var(--zephyrus-typescale-body-small-font-family-name);
			font-style: var(--zephyrus-typescale-body-small-font-family-style);
			font-weight: var(--zephyrus-typescale-body-small-font-weight);
			font-size: var(--zephyrus-typescale-body-small-font-size);
			letter-spacing: var(--zephyrus-typescale-body-small-tracking);
			line-height: var(--zephyrus-typescale-body-small-height);
			text-transform: var(--zephyrus-typescale-body-small-text-transform);
			text-decoration: var(--zephyrus-typescale-body-small-text-decoration);
		}
		.zStateActionDocument {
			display: flex;
			align-items: center;
			span {
				font-size: 20px !important;
				margin-right: 0.4rem;
				.material-symbols-outlined {
					font-size: 20px !important;
				}
			}
		}
	}
	.options-right {
		margin-left: auto;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		.zBtnEmit {
			padding-right: 28px !important;
		}
	}
}

.zDocumentFindAllSection {
	height: calc(100vh - 10vh);
	margin: 0 0 1rem 0;
	// background: var(--zephyrus-color-background);
	// background: #bb86fc;
	transition: border-radius 300ms cubic-bezier(0.2, 0, 0, 1), background-color 300ms cubic-bezier(0.2, 0, 0, 1);
	border-radius: 24px;
	width: 100%;
	// padding: 24px;
	color: var(--zephyrus-color-on-background);
	display: flex;
	align-items: center;
	justify-content: space-between;

	.row > * {
		// padding-right: calc(0 * 0.5) !important;
		// padding-left: calc(0 * 0.5) !important;
	}

	.zRow {
		margin-left: calc(var(--mdb-gutter-x) * -0) !important;
		height: inherit;
		// background: aqua;
		width: inherit;
		border-radius: 24px;

		.zContentCol {
			mat-divider {
				margin-bottom: 36px;
				margin-top: 24px;
			}
			// padding-left: calc(0 * 0.5) !important;

			border-radius: 24px;
			padding-right: 0rem !important;
			padding-left: 0 !important;

			.zCardC {
				// border: 1px solid var(--zephyrus-color-outline-variant);
				background: var(--zephyrus-color-background);
				border-radius: 24px;
				padding: 30px 30px 5px 30px;
				margin-bottom: 2rem;
				transition: border-radius 300ms cubic-bezier(0.2, 0, 0, 1), background-color 300ms cubic-bezier(0.2, 0, 0, 1);

				height: 100%;
				font-family: var(--zephyrus-font-family) !important;

				&:hover,
				&:focus {
					// border: none;
					border-radius: 48px;
					// outline: 2px solid var(--zephyrus-color-on-surface);
					color: var(--zephyrus-color-on-secondary-container);
					// box-shadow: initial;
					// background: var(--zephyrus-color-inverse-primary);
					// background: var(--zephyrus-color-secondary-container);
				}

				.zTitle {
					margin-bottom: 1.5rem;
					// color: var(--zephyrus-color-on-surface);
					color: var(--zephyrus-color-on-secondary-container);
					font-family: var(--zephyrus-typescale-body-large-font-family-name);
					font-style: var(--zephyrus-typescale-body-large-font-family-style);
					font-weight: var(--zephyrus-typescale-body-large-font-weight);
					font-size: var(--zephyrus-typescale-body-large-font-size);
					letter-spacing: var(--zephyrus-typescale-body-large-tracking);
					line-height: var(--zephyrus-typescale-body-large-height);
					text-transform: var(--zephyrus-typescale-body-large-text-transform);
					text-decoration: var(--zephyrus-typescale-body-large-text-decoration);
					max-width: 640px;
				}

				.zLabel {
					color: var(--zephyrus-color-on-surface);
					font-family: var(--zephyrus-v2-body-l-font-family);
					font-size: var(--zephyrus-v2-body-l-font-size);
					font-weight: var(--zephyrus-v2-body-l-font-weight);
					letter-spacing: var(--zephyrus-v2-body-l-letter-spacing);
					line-height: var(--zephyrus-v2-body-l-line-height);
					font-variation-settings: 'GRAD' var(--zephyrus-v2-body-l-font-variation-GRAD), 'opsz' var(--mio-theme-v2-body-l-font-variation-opsz);
					max-width: 640px;
				}

				.zCardDocument {
					// background: #f3f6fc !important;
					border-radius: 24px;
					box-shadow: none !important;
					border: 1px solid #dfe1e5;
					cursor: pointer;

					&:hover,
					&:focus {
						border-color: #1a73e8;
						outline: none;
					}

					.card-header {
						border-top: 1px solid #e2e2e2;
						border-bottom: none !important;
					}

					.bg-image {
						img {
							width: 100%;
							border-top-left-radius: 24px;
							border-top-right-radius: 24px;
							background-repeat: no-repeat;
							background-size: 208px auto;
							border: none;
							display: block;
							position: relative;
						}
					}
				}
			}
		}
	}
}
