.primary {
	background-color: var(--zephyrus-color-primary);
}
.primary-text {
	color: var(--zephyrus-color-primary);
}
.on-primary {
	background-color: var(--zephyrus-color-on-primary);
}
.on-primary-text {
	color: var(--zephyrus-color-on-primary);
}
.primary-container {
	background-color: var(--zephyrus-color-primary-container);
}
.primary-container-text {
	color: var(--zephyrus-color-primary-container);
}
.on-primary-container {
	background-color: var(--zephyrus-color-on-primary-container);
}
.on-primary-container-text {
	color: var(--zephyrus-color-on-primary-container);
}
.secondary {
	background-color: var(--zephyrus-color-secondary);
}
.secondary-text {
	color: var(--zephyrus-color-secondary);
}
.on-secondary {
	background-color: var(--zephyrus-color-on-secondary);
}
.on-secondary-text {
	color: var(--zephyrus-color-on-secondary);
}
.secondary-container {
	background-color: var(--zephyrus-color-secondary-container);
}
.secondary-container-text {
	color: var(--zephyrus-color-secondary-container);
}
.on-secondary-container {
	background-color: var(--zephyrus-color-on-secondary-container);
}
.on-secondary-container-text {
	color: var(--zephyrus-color-on-secondary-container);
}
.tertiary {
	background-color: var(--zephyrus-color-tertiary);
}
.tertiary-text {
	color: var(--zephyrus-color-tertiary);
}
.on-tertiary {
	background-color: var(--zephyrus-color-on-tertiary);
}
.on-tertiary-text {
	color: var(--zephyrus-color-on-tertiary);
}
.tertiary-container {
	background-color: var(--zephyrus-color-tertiary-container);
}
.tertiary-container-text {
	color: var(--zephyrus-color-tertiary-container);
}
.on-tertiary-container {
	background-color: var(--zephyrus-color-on-tertiary-container);
}
.on-tertiary-container-text {
	color: var(--zephyrus-color-on-tertiary-container);
}
.error {
	background-color: var(--zephyrus-color-error);
}
.error-text {
	color: var(--zephyrus-color-error);
}
.error-container {
	background-color: var(--zephyrus-color-error-container);
}
.error-container-text {
	color: var(--zephyrus-color-error-container);
}
.on-error {
	background-color: var(--zephyrus-color-on-error);
}
.on-error-text {
	color: var(--zephyrus-color-on-error);
}
.on-error-container {
	background-color: var(--zephyrus-color-on-error-container);
}
.on-error-container-text {
	color: var(--zephyrus-color-on-error-container);
}
.background {
	background-color: var(--zephyrus-color-background);
}
.background-text {
	color: var(--zephyrus-color-background);
}
.on-background {
	background-color: var(--zephyrus-color-on-background);
}
.on-background-text {
	color: var(--zephyrus-color-on-background);
}
.surface {
	background-color: var(--zephyrus-color-surface);
}
.surface-text {
	color: var(--zephyrus-color-surface);
}
.on-surface {
	background-color: var(--zephyrus-color-on-surface);
}
.on-surface-text {
	color: var(--zephyrus-color-on-surface);
}
.surface-variant {
	background-color: var(--zephyrus-color-surface-variant);
}
.surface-variant-text {
	color: var(--zephyrus-color-surface-variant);
}
.on-surface-variant {
	background-color: var(--zephyrus-color-on-surface-variant);
}
.on-surface-variant-text {
	color: var(--zephyrus-color-on-surface-variant);
}
.outline {
	background-color: var(--zephyrus-color-outline);
}
.outline-text {
	color: var(--zephyrus-color-outline);
}
.inverse-on-surface {
	background-color: var(--zephyrus-color-inverse-on-surface);
}
.inverse-on-surface-text {
	color: var(--zephyrus-color-inverse-on-surface);
}
.inverse-surface {
	background-color: var(--zephyrus-color-inverse-surface);
}
.inverse-surface-text {
	color: var(--zephyrus-color-inverse-surface);
}
.inverse-primary {
	background-color: var(--zephyrus-color-inverse-primary);
}
.inverse-primary-text {
	color: var(--zephyrus-color-inverse-primary);
}
.shadow {
	background-color: var(--zephyrus-color-shadow);
}
.shadow-text {
	color: var(--zephyrus-color-shadow);
}
.surface-tint {
	background-color: var(--zephyrus-color-surface-tint);
}
.surface-tint-text {
	color: var(--zephyrus-color-surface-tint);
}
.outline-variant {
	background-color: var(--zephyrus-color-outline-variant);
}
.outline-variant-text {
	color: var(--zephyrus-color-outline-variant);
}
.scrim {
	background-color: var(--zephyrus-color-scrim);
}
.scrim-text {
	color: var(--zephyrus-color-scrim);
}
