:root {
	--zephyrus-color-primary: var(--zephyrus-color-primary-light);
	--zephyrus-color-on-primary: var(--zephyrus-color-on-primary-light);
	--zephyrus-color-primary-container: var(--zephyrus-color-primary-container-light);
	--zephyrus-color-on-primary-container: var(--zephyrus-color-on-primary-container-light);
	--zephyrus-color-secondary: var(--zephyrus-color-secondary-light);
	--zephyrus-color-on-secondary: var(--zephyrus-color-on-secondary-light);
	--zephyrus-color-secondary-container: var(--zephyrus-color-secondary-container-light);
	--zephyrus-color-on-secondary-container: var(--zephyrus-color-on-secondary-container-light);
	--zephyrus-color-tertiary: var(--zephyrus-color-tertiary-light);
	--zephyrus-color-on-tertiary: var(--zephyrus-color-on-tertiary-light);
	--zephyrus-color-tertiary-container: var(--zephyrus-color-tertiary-container-light);
	--zephyrus-color-on-tertiary-container: var(--zephyrus-color-on-tertiary-container-light);
	--zephyrus-color-error: var(--zephyrus-color-error-light);
	--zephyrus-color-error-container: var(--zephyrus-color-error-container-light);
	--zephyrus-color-on-error: var(--zephyrus-color-on-error-light);
	--zephyrus-color-on-error-container: var(--zephyrus-color-on-error-container-light);
	--zephyrus-color-background: var(--zephyrus-color-background-light);
	--zephyrus-color-on-background: var(--zephyrus-color-on-background-light);
	--zephyrus-color-surface: var(--zephyrus-color-surface-light);
	--zephyrus-color-on-surface: var(--zephyrus-color-on-surface-light);
	--zephyrus-color-surface-variant: var(--zephyrus-color-surface-variant-light);
	--zephyrus-color-on-surface-variant: var(--zephyrus-color-on-surface-variant-light);
	--zephyrus-color-outline: var(--zephyrus-color-outline-light);
	--zephyrus-color-inverse-on-surface: var(--zephyrus-color-inverse-on-surface-light);
	--zephyrus-color-inverse-surface: var(--zephyrus-color-inverse-surface-light);
	--zephyrus-color-inverse-primary: var(--zephyrus-color-inverse-primary-light);
	--zephyrus-color-shadow: var(--zephyrus-color-shadow-light);
	--zephyrus-color-surface-tint: var(--zephyrus-color-surface-tint-light);
	--zephyrus-color-outline-variant: var(--zephyrus-color-outline-variant-light);
	--zephyrus-color-scrim: var(--zephyrus-color-scrim-light);
}
