<div class="dialogContainer">
	<div class="dialogContainer__header">
		<h2 mat-dialog-title>{{ title }}</h2>
		<button mat-icon-button mat-dialog-close>
			<mat-icon class="material-symbols-outlined">close</mat-icon>
		</button>
	</div>

	<form [formGroup]="zForm" (ngSubmit)="action()" novalidate="novalidate" autocomplete="off">
		<div mat-dialog-content>
			<div class="row">
				<mat-form-field
					class="col-lg-12"
					appearance="outline"
					*ngIf="!(this.payloadDialog.action === 'update')"
				>
					<mat-label>Correo electrónico</mat-label>
					<input matInput maxlength="40" formControlName="Email" placeholder="Correo" />
					<mat-error *ngIf="errorMatcher.isErrorState(Email, null)">
						<span *ngIf="Email.errors?.['required']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							El correo es requerido.
						</span>
					</mat-error>
				</mat-form-field>

				<mat-form-field class="example-full-width" appearance="outline">
					<mat-label>Contraseña</mat-label>
					<input matInput formControlName="Password" placeholder="Correo" />
					<mat-error *ngIf="errorMatcher.isErrorState(Password, null)">
						<span *ngIf="Password.errors?.['required']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							La contraseña es requerida.
						</span>
					</mat-error>
				</mat-form-field>

				<mat-form-field class="col-lg-12" appearance="outline">
					<mat-label>Nombre completo</mat-label>
					<input matInput formControlName="FullName" placeholder="Nombre Completo" />
					<mat-error *ngIf="errorMatcher.isErrorState(FullName, null)">
						<span *ngIf="FullName.errors?.['required']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							El nombre completo es requerido.
						</span>
					</mat-error>
				</mat-form-field>

				<mat-form-field class="col-lg-12" appearance="outline">
					<mat-label>Celular corporativo</mat-label>
					<input
						matInput
						type="number"
						formControlName="celCorp"
						placeholder="Celular Corporativo"
					/>
					<mat-error *ngIf="errorMatcher.isErrorState(celCorp, null)">
						<span *ngIf="celCorp.errors?.['required']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							El celular corporativo es requerido.
						</span>
					</mat-error>
				</mat-form-field>

				<mat-form-field class="col-lg-12" appearance="outline">
					<mat-label>Rol</mat-label>
					<mat-select formControlName="Roles">
						<mat-option *ngFor="let rol of ZListRoles" [value]="rol.value">
							{{ rol.key }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<mat-dialog-actions align="end">
			<button mat-button mat-dialog-close>Cancelar</button>
			<button mat-button *ngIf="!(createIsLoading$ | async)">Guardar</button>
			<button mat-button *ngIf="createIsLoading$ | async" disabled>Guardando...</button>
		</mat-dialog-actions>
	</form>
</div>
