<header>
	<div
		id="intro"
		class="bg-image shadow-1-strong"
		style="background-image: url(assets/brand/fotos/gaceta/publicaciones.JPG); height: 400px"
	>
		<div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.6)">
			<div class="container d-flex align-items-center justify-content-center text-center h-100">
				<div class="text-white">
					<h1 class="mb-3 mt-5 pt-4">Publicaciones</h1>
					<h4 class="mb-4">Asamblea Legislativa Departamental de Oruro</h4>
				</div>
			</div>
		</div>
	</div>
</header>

<section class="container mt-5">
	<div
		class="row gx-5 mb-5"
		*ngFor="let post of dataPost | paginate : { itemsPerPage: 10, currentPage: page }"
	>
		<div class="col-md-6 mb-4 mb-md-0">
			<div
				class="bg-image hover-overlay ripple shadow-2-strong rounded-5"
				data-mdb-ripple-color="light"
			>
				<img src="{{ post.post_fotografia | staticFile }}" class="img-fluid rounded-5" />
				<a href="#!">
					<div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
				</a>
			</div>
		</div>

		<div class="col-md-6 mb-4 mb-md-0">
			<span class="badge badge-danger mb-3">{{ post.category.cat_nombre }}</span>
			<h4>
				<strong>{{ post.post_tittle }}</strong>
			</h4>
			<p class="text-muted">
				{{ post.post_content }}
			</p>

			<hr />
			<div class="text-muted">
				<div class="row mb-3">
					<div class="col-6 text-start">
						<small
							><em>{{ post.post_author }}</em></small
						>
					</div>

					<div class="col-6 text-end">
						<u>
							<small
								><em>{{ post.post_creado | date : 'short' }}</em></small
							></u
						>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="h-100 d-flex justify-content-center align-items-center">
		<pagination-controls
			(pageChange)="page = $event"
			previousLabel="Anterior"
			nextLabel="Siguiente"
		></pagination-controls>
	</div>
</section>
<!--Section: Main news-->
