<header>
	<div
		id="intro"
		class="bg-image shadow-1-strong"
		style="background-image: url(assets/brand/fotos/gaceta/resoluciones.JPG); height: 400px"
	>
		<div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.6)">
			<div class="container d-flex align-items-center justify-content-center text-center h-100">
				<div class="text-white">
					<h1 class="mb-3 mt-5 pt-4">Resoluciones</h1>
					<h4 class="mb-4">Asamblea Legislativa Departamental de Oruro</h4>
					<div class="mt-4 container w-100">
						<z-line></z-line>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Container for demo purpose -->
<div class="container my-5 py-5">
	<!-- Section: Design Block -->

	<form class="form-inline my-2 my-lg-0">
		<input
			class="form-control mr-sm-2"
			type="text"
			placeholder="Buscar por titulo"
			(keyup)="buscar(buscarTexto.value)"
			#buscarTexto
		/>
		<button
			(click)="buscar(buscarTexto.value)"
			class="btn btn-outline-primary my-2 my-sm-0"
			type="button"
		>
			Buscar
		</button>
	</form>

	<section class="mb-10">
		<h2 class="fw-bold mb-5 text-center">Resoluciones</h2>
		<div class="row">
			<div
				class="card col-lg-6 col-md-12 mb-4"
				*ngFor="let data of dataResolution | paginate : { itemsPerPage: 10, currentPage: page }"
			>
				<img src="assets/brand/back.jpg" class="card-img-top" alt="Fissure in Sandstone" />
				<div class="card-body">
					<h5 class="card-title">{{ data.RETitle }}</h5>
					<p class="card-text">{{ data.RESummary }}</p>
					<span>{{ data.REPublicationDate | date : 'medium' }}</span>
					<!-- <a href="#!" class="btn btn-primary">Button</a> -->
				</div>
			</div>
		</div>
	</section>
	<div class="h-100 d-flex justify-content-center align-items-center">
		<pagination-controls
			(pageChange)="page = $event"
			previousLabel="Anterior"
			nextLabel="Siguiente"
		></pagination-controls>
	</div>
</div>
<!-- Container for demo purpose -->
