<app-banner title="LEYES DEPARTAMENTALES" class="mt-5" content="Buscar leyes..."></app-banner>

<div class="banner_search mt-5 container d-flex justify-content-center">
	<div class="text-white animate__animated animate__zoomInDown">
		<form
			[formGroup]="formCreate"
			class="d-flex gap-3 align-items-center justify-content-center"
			(ngSubmit)="create()"
			#searchForm="ngForm"
		>
			<input class="form-control" type="text" placeholder="Buscar por titulo" #buscarTexto />
			<button
				(click)="buscarConvocatoria(buscarTexto.value)"
				class="btn btn-primary"
				type="button"
			>
				Buscar
			</button>
			<!-- <a href="#" class="btn btn-outline-primary" (click)="showData($event)"
				>Busqueda Avanzada</a
			> -->
			<button class="btn btn-outline-primary" (click)="resetForm()">Reset</button>

			<!-- <div
				class="col-12 row block__search"
				style="max-width: 55%; margin: auto"
				*ngIf="element == true"
			>
				<div class="col-6 mt-5">
					<mat-form-field class="col-lg-12" style="padding: 10px">
						<mat-label>Área</mat-label>
						<mat-select formControlName="departLawArea">
							<mat-option *ngFor="let area of ZListArea" [value]="area.value">
								{{ area.key }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col-6 mt-5">
					<mat-form-field appearance="fill" class="example-form-field" style="color: #0080ff">
						<mat-label>Enter a date range</mat-label>
						<mat-date-range-input [rangePicker]="rangePicker">
							<input matStartDate placeholder="Start date" />
							<input matEndDate placeholder="End date" />
						</mat-date-range-input>
						<mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
						<mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
						<mat-date-range-picker #rangePicker>
							<mat-date-range-picker-actions>
								<button mat-button matDateRangePickerCancel>Cancel</button>
								<button mat-raised-button color="primary" matDateRangePickerApply>
									Apply
								</button>
							</mat-date-range-picker-actions>
						</mat-date-range-picker>
					</mat-form-field>
				</div>
				<div class="row mt-3">
					<div class="col-6">
						<mat-form-field
							*ngIf="!(legislatureFindAllIsLoading$ | async)"
							class="col-lg-12 mb-2"
							appearance="outline"
							style="padding: 10px"
						>
							<mat-label>Legislature</mat-label>
							<mat-select formControlName="dataIdLegdepart">
								<mat-option
									*ngFor="let legislature of (legislatureFindAllResponse$ | async)!.data"
									[value]="legislature | jsonData : 'IdLegislatura'"
								>
									{{ legislature | jsonData : 'LegDescripcion' }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
					<div class="col-6">
						<mat-form-field appearance="outline" style="padding: 10px">
							<mat-label>Nro de ley</mat-label>
							<input
								matInput
								type="number"
								formControlName="dataNumLey"
								placeholder="Nro de Ley"
							/>
						</mat-form-field>
					</div>
				</div>
			</div> -->
		</form>
	</div>
</div>

<div class="container mt-5">
	<section class="mb-10">
		<div *ngIf="dataDepartamentLaw$ | async as dataDepartamentLaw; else loading">
			<div class="row gap-2 justify-content-around">
				<div
					class="card col-3 mb-3"
					*ngFor="
						let item of dataDepartamentLaw | paginate : { itemsPerPage: 8, currentPage: page }
					"
					data-aos="flip-down"
				>
					<img src="assets/brand/back.jpg" class="card-img-top" alt="Fissure in Sandstone" />
					<div class="card-body">
						<h5 class="card-title">{{ item.dttitle }}</h5>
						<p class="card-text">{{ item.dtsummary }}</p>
						<span>{{ item.dtissueDate | date : 'medium' }}</span>
						<a
							href="{{ item.DTFile | staticFile }}"
							target="_blank"
							class="z-btn-action d-block"
							matTooltip="Visualizar"
							mat-icon-button
							matTooltipClass="z-tooltip"
						>
							<mat-icon>cloud_download</mat-icon>
						</a>
					</div>
				</div>
			</div>
		</div>
		<ng-template #loading>Loading...</ng-template>
	</section>
	<div class="h-100 d-flex justify-content-center align-items-center">
		<pagination-controls
			(pageChange)="page = $event"
			previousLabel="Anterior"
			nextLabel="Siguiente"
		></pagination-controls>
	</div>
</div>
