<footer class="bg-light text-center text-lg-start mt-5">
	<div class="container p-4">
		<div class="row">
			<div
				class="col-md-6 mb-4 mb-md-0 d-flex justify-content-center justify-content-md-start align-items-center"
			>
				<strong>Conéctate con nosotros en las redes sociales</strong>
			</div>

			<div class="col-md-6 d-flex justify-content-center justify-content-md-end">
				<a
					class="btn text-white btn-sm btn-floating me-2"
					style="background-color: #3b5998"
					href="#!"
					role="button"
					><i class="fab fa-facebook-f"></i
				></a>
				<a
					class="btn text-white btn-sm btn-floating me-2"
					style="background-color: #55acee"
					href="#!"
					role="button"
					><i class="fab fa-twitter"></i
				></a>
				<a
					class="btn text-white btn-sm btn-floating me-2"
					style="background-color: #c61118"
					href="#!"
					role="button"
					><i class="fab fa-pinterest"></i
				></a>
				<a
					class="btn text-white btn-sm btn-floating me-2"
					style="background-color: #ed302f"
					href="#!"
					role="button"
					><i class="fab fa-youtube"></i
				></a>
				<a
					class="btn text-white btn-sm btn-floating me-2"
					style="background-color: #ac2bac"
					href="#!"
					role="button"
					><i class="fab fa-instagram"></i
				></a>
			</div>
		</div>

		<hr class="my-3" />

		<div class="row">
			<div class="col-lg-4 mb-4 mb-lg-0">
				<p><strong>About us</strong></p>

				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
					molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
					voluptatem veniam, est atque cumque eum delectus sint!
				</p>
			</div>

			<div class="col-lg-3 mb-4 mb-lg-0">
				<p><strong>Useful links</strong></p>

				<ul class="list-unstyled mb-0">
					<li>
						<a href="#!" class="text-dark">Privacy policy</a>
					</li>
					<li>
						<a href="#!" class="text-dark">Media</a>
					</li>
					<li>
						<a href="#!" class="text-dark">Job offers</a>
					</li>
					<li>
						<a href="#!" class="text-dark">Cooperation</a>
					</li>
				</ul>
			</div>

			<div class="col-lg-3 mb-4 mb-lg-0">
				<p><strong>Products</strong></p>

				<ul class="list-unstyled">
					<li>
						<a href="#!" class="text-dark">Electronics</a>
					</li>
					<li>
						<a href="#!" class="text-dark">Fashion</a>
					</li>
					<li>
						<a href="#!" class="text-dark">Beauty</a>
					</li>
					<li>
						<a href="#!" class="text-dark">Automotive</a>
					</li>
				</ul>
			</div>

			<div class="col-lg-2 mb-4 mb-lg-0">
				<p><strong>Support</strong></p>

				<ul class="list-unstyled">
					<li>
						<a href="#!" class="text-dark">Complaints</a>
					</li>
					<li>
						<a href="#!" class="text-dark">Help center</a>
					</li>
					<li>
						<a href="#!" class="text-dark">Community</a>
					</li>
					<li>
						<a href="#!" class="text-dark">FAQ</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div
		class="text-center p-3"
		style="color: #ffffff; background: linear-gradient(to right, #d00129, #5c0119)"
	>
		© 2022 Copyright:
		<a class="text-white" href="#">ALDO</a>
	</div>
</footer>
<!--Footer-->
