<footer class="bg-light text-center text-lg-start mt-5">
	<div class="container p-4">
		<div class="row">
			<div
				class="col-md-6 mb-4 mb-md-0 d-flex justify-content-center justify-content-md-start align-items-center"
			>
				<strong>Conéctate con nosotros en las redes sociales</strong>
			</div>

			<div class="col-md-6 d-flex justify-content-center justify-content-md-end">
				<a
					class="btn text-white btn-sm btn-floating me-2"
					style="background-color: #3b5998"
					href="#!"
					role="button"
					><i class="fab fa-facebook-f"></i
				></a>
				<a
					class="btn text-white btn-sm btn-floating me-2"
					style="background-color: #55acee"
					href="#!"
					role="button"
					><i class="fab fa-twitter"></i
				></a>
				<a
					class="btn text-white btn-sm btn-floating me-2"
					style="background-color: #c61118"
					href="#!"
					role="button"
					><i class="fab fa-pinterest"></i
				></a>
				<a
					class="btn text-white btn-sm btn-floating me-2"
					style="background-color: #ed302f"
					href="#!"
					role="button"
					><i class="fab fa-youtube"></i
				></a>
				<a
					class="btn text-white btn-sm btn-floating me-2"
					style="background-color: #ac2bac"
					href="#!"
					role="button"
					><i class="fab fa-instagram"></i
				></a>
			</div>
		</div>

		<hr class="my-3" />

		<div class="row">
			<div class="col-lg-12 mb-4 mb-lg-0 text-center">
				<p><strong>MISIÓN</strong></p>

				<p>
					La Asamblea Legislativa Departamental de Oruro ejerce un mandato conferido por 16
					provincias de Oruro para legislar, fiscalizar y deliberar con transparencia y
					electividad para contribuir al desarrollo del Departamento de Oruro.
				</p>
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d355.39893339751035!2d-67.11505394803164!3d-17.96915946198489!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sbo!4v1672112342866!5m2!1ses-419!2sbo"
					width="100%"
					height="250"
					style="border: 0"
					allowfullscreen=""
					loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"
				></iframe>
			</div>
		</div>
	</div>

	<div
		class="text-center p-3"
		style="color: #ffffff; background: linear-gradient(to right, #d00129, #5c0119)"
	>
		© 2022 Copyright:
		<a class="text-white" href="#">ALDO</a>
	</div>
</footer>
<!--Footer-->
