<!-- Container for demo purpose -->
<div class="container my-5 py-5">
	<!-- Section: Design Block -->

	<form class="form-inline my-2 my-lg-0">
		<input
			class="form-control mr-sm-2"
			type="text"
			placeholder="Buscar por titulo"
			(keyup)="buscarConvocatoria(buscarTexto.value)"
			#buscarTexto
		/>
		<button
			(click)="buscarConvocatoria(buscarTexto.value)"
			class="btn btn-outline-primary my-2 my-sm-0"
			type="button"
		>
			Buscar
		</button>
	</form>

	<section class="mb-10">
		<h2 class="fw-bold mb-5 text-center">Informes Orales</h2>
		<div class="row">
			<div
				class="card col-lg-6 col-md-12 mb-4"
				*ngFor="
					let data of dataRequestReOral | paginate : { itemsPerPage: 10, currentPage: page }
				"
			>
				<img src="assets/brand/back.jpg" class="card-img-top" alt="Fissure in Sandstone" />
				<div class="card-body">
					<h5 class="card-title">{{ data.reqR_num }}</h5>
					<p class="card-text">Peticionario: {{ data.reqR_petitioner }}</p>
					<p class="card-text">Remitente: {{ data.reqR_addressee }}</p>
					<span>{{ data.reqR_create | date : 'medium' }}</span>
					<!-- <a href="#!" class="btn btn-primary">Button</a> -->
				</div>
			</div>
		</div>
	</section>
	<div class="h-100 d-flex justify-content-center align-items-center">
		<pagination-controls
			(pageChange)="page = $event"
			previousLabel="Anterior"
			nextLabel="Siguiente"
		></pagination-controls>
	</div>
</div>
<!-- Container for demo purpose -->
