<div class="dialogContainer">
	<div class="dialogContainer__header">
		<h2 mat-dialog-title>Actualizar Convocatoria</h2>
		<button mat-icon-button mat-dialog-close>
			<mat-icon class="material-symbols-outlined">close</mat-icon>
		</button>
	</div>

	<form [formGroup]="formUpdate" (ngSubmit)="update()" novalidate="novalidate" autocomplete="off">
		<div mat-dialog-content>
			<div class="row">
				<div class="col-12">
					<z-upload-input-type-document
						(onUpload)="handleUpload($event)"
					></z-upload-input-type-document>
				</div>
				<mat-form-field class="col-lg-12" appearance="outline">
					<mat-label>Titulo</mat-label>

					<input matInput maxlength="100" formControlName="call_title" placeholder="Titulo" />
					<mat-hint align="start">El titulo debe tener como máximo 100 caracteres. </mat-hint>
					<mat-hint align="end">{{ call_title.value.length }} / 100</mat-hint>
					<mat-error *ngIf="errorMatcher.isErrorState(call_title, null)">
						<span *ngIf="call_title.errors?.['required']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							El titulo es requerida.
						</span>

						<span *ngIf="call_title.errors?.['maxlength']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							El titulo debe tener como máximo 100 caracteres.
						</span>

						<span *ngIf="call_title.errors?.['pattern']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							El titulo solo debe de tener cadenas de texto.
						</span>
					</mat-error>
				</mat-form-field>

				<mat-form-field class="col-lg-12" appearance="outline">
					<mat-label>Nro Modalidad</mat-label>
					<mat-select formControlName="call_modality" (ngModelChange)="onChange($event)">
						<mat-option *ngFor="let data of ZListsModalidad" [value]="data.value">
							{{ data.key }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field class="col-lg-12" appearance="outline">
					<mat-label>Nro de sesión</mat-label>
					<mat-select formControlName="call_numSession">
						<mat-option *ngFor="let data of ZListsSesiones" [value]="data.value">
							{{ data.key }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field
					*ngIf="!(legislatureFindAllIsLoading$ | async)"
					class="col-lg-12 mb-2"
					appearance="outline"
				>
					<mat-label>Legislatura</mat-label>
					<mat-select formControlName="IdcallLeg">
						<mat-option
							*ngFor="let legislature of (legislatureFindAllResponse$ | async)!.data"
							[value]="legislature | jsonData : 'IdLegislatura'"
						>
							{{ legislature | jsonData : 'LegDescripcion' }}
						</mat-option>
					</mat-select>

					<mat-error *ngIf="errorMatcher.isErrorState(IdcallLeg, null)">
						<span *ngIf="IdcallLeg.errors?.['required']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							La legislatura es requerida.
						</span>
					</mat-error>
				</mat-form-field>

				<mat-form-field class="col-lg-12" appearance="outline">
					<mat-label>Fecha de la sesión</mat-label>
					<input
						matInput
						[matDatepicker]="call_dateUpdate"
						formControlName="call_dateUpdate"
					/>
					<mat-hint>MM/DD/YYYY</mat-hint>
					<mat-datepicker-toggle matSuffix [for]="call_dateUpdate"></mat-datepicker-toggle>
					<mat-datepicker touchUi #call_dateUpdate></mat-datepicker>
				</mat-form-field>

				<mat-form-field appearance="outline" class="mt-2">
					<mat-label>Hora</mat-label>
					<input
						type="time"
						matInput
						name="week"
						min="09:00"
						max="18:00"
						formControlName="call_hours"
					/>
				</mat-form-field>

				<div class="z-container-raddio-button">
					<label class="z-label">Seleccionar la visibilidad</label>

					<mat-radio-group formControlName="CallVisibility" class="z-radio-group">
						<mat-radio-button class="z-radio-button" value="Público">
							Público
						</mat-radio-button>
						<mat-radio-button class="z-radio-button" value="Privado">
							Privado
						</mat-radio-button>
					</mat-radio-group>
				</div>
			</div>
		</div>
		<mat-dialog-actions align="end">
			<button mat-button mat-dialog-close>Cancelar</button>
			<button mat-button *ngIf="!(updateIsLoading$ | async)">Guardar</button>
			<button mat-button *ngIf="updateIsLoading$ | async" disabled>Guardando...</button>
		</mat-dialog-actions>
	</form>
</div>
