<div class="zFilesList">
	<section class="zContainerDocuments" *ngIf="type === 'document'">
		<div class="zSingleFile" *ngFor="let file of files; let i = index">
			<button mat-icon-button>
				<img *ngIf="type === 'document'" src="assets/img/svg/files/default.svg" alt="" />
			</button>

			<div class="info">
				<h4 class="name">
					{{ file?.name }}
				</h4>
				<p class="size">1 MB</p>
			</div>

			<button class="ms-auto" mat-icon-button>
				<mat-icon *ngIf="!isBtnRemove" class="material-symbols-outlined">check</mat-icon>
				<mat-icon *ngIf="isBtnRemove" class="material-symbols-outlined">close</mat-icon>
			</button>

			<mat-progress-bar
				*ngIf="isProgress"
				mode="determinate"
				[value]="file?.progress"
			></mat-progress-bar>
		</div>
	</section>
	<section class="zContainerImages" *ngIf="type === 'image'">
		<div class="row">
			<div
				class="col-lg-4 col-md-6 col-sm-12 zSingleImage"
				*ngFor="let file of files; let i = index"
			>
				<div class="zImage">
					<img [src]="file | zStaticFile" alt="" />
					<div class="delete">
						<button class="ms-auto" mat-icon-button>
							<mat-icon class="material-symbols-outlined">close</mat-icon>
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
