<section class="section-commision">
	<section>
		<div
			style="
				background-image: url('assets/brand/fotos/{{ zCommission.img }}');
				background-attachment: fixed;
				background-repeat: no-repeat;
				background-size: cover;
			"
		>
			<div class="full-bg-img flex-center white-text rgba-stylish-strong">
				<ul class="animated fadeIn col-md-12 list-unstyled">
					<li class="link-title mt-5 pt-5">
						<h2 class="h1-responsive font-weight-bold mt-5 pt-5">
							{{ zCommission.title }}
						</h2>
					</li>

					<li>
						<div class="mt-4 mb-4 container w-50">
							<z-line></z-line>
						</div>
						<h5 class="text-uppercase">Asamblea Legislativa Departamental de Oruro</h5>
					</li>

					<li class="pb-5">
						<a
							href="/inicio"
							class="mb-5 btn btn-danger btn-rounded waves-effect waves-light"
							rel="nofollow"
							>Inicio</a
						>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="container team-section mt-2 mb-5">
		<div class="row mt-5 mb-4">
			<div class="col-md-12">
				<div class="divider-new">
					<h3
						class="title text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn"
						data-wow-delay="0.2s"
						style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s"
					>
						Composición Legislatura
					</h3>
				</div>
			</div>

			<p
				class="sub-title text-center grey-text w-responsive mx-auto mb-5 wow fadeIn"
				data-wow-delay="0.2s"
				style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s"
			>
				La Asamblea Legislativa Departamental de Oruro como Órgano Fiscalizadora y Deliberativa
				en esta gestión asumió un compromiso con todas y todos los hermanos Orureños,
				manteniendo como centro de atención su bienestar.
			</p>

			<div class="row text-center">
				<div
					*ngFor="let cChildren of zCommission.children"
					class="col-lg-{{ cChildren.col }} col-md-12 col-sm-12 mb-5 wow fadeIn"
					data-wow-delay="0.4s"
					style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s"
				>
					<div class="testimonial">
						<div class="avatar mx-auto mb-4">
							<img
								ngSrc="assets/brand/galery/asambleistas/{{ cChildren.img }}"
								class="rounded-circle z-depth-1-half"
								width="{{ cChildren.width }}"
								height="{{ cChildren.height }}"
							/>
						</div>

						<h4 class="title font-weight-bold">{{ cChildren.name }}</h4>
						<h5 class="sub-title">{{ cChildren.role | uppercase }}</h5>

						<div class="mt-3 mb-3">
							<a
								mdbPopover="
                  Fecha de nacimiento: {{ cChildren.dateBirth }},
                  Lugar de nacimiento: {{ cChildren.placeBirth }},
                  Municipio o provincia: {{ cChildren.origin }}
                "
								placement="bottom"
								popoverTitle="{{ cChildren.name }}"
								triggers="focus"
								mdbWavesEffect
								type="button"
								class="btn btn-outline-light btn-floating me-3"
							>
								<i class="fas fa-info"></i>
							</a>

							<a
								href="https://api.whatsapp.com/send?phone=591{{ cChildren.whatsapp }}"
								target="_blank"
								class="btn btn-success btn-floating me-3"
							>
								<i class="fab fa-whatsapp"></i>
							</a>
							<button type="button" class="btn btn-primary btn-floating">
								<i class="fab fa-linkedin-in"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
