<div class="dialogContainer">
	<div class="dialogContainer__header">
		<h2 mat-dialog-title>Crear P.I.E</h2>
		<button mat-icon-button mat-dialog-close>
			<mat-icon class="material-symbols-outlined">close</mat-icon>
		</button>
	</div>

	<form [formGroup]="formCreate" (ngSubmit)="create()" novalidate="novalidate" autocomplete="off">
		<div mat-dialog-content>
			<div class="row">
				<div class="col-12">
					<z-upload-input-type-document
						(onUpload)="handleUpload($event)"
					></z-upload-input-type-document>
				</div>

				<!-- [value]="legislature | jsonData : 'IdLegislatura'" -->
				<!-- [value]="!(legislature | jsonData : 'LegEstado') === true" -->
				<mat-form-field
					*ngIf="!(legislatureFindAllIsLoading$ | async)"
					class="col-lg-12 mb-2"
					appearance="outline"
				>
					<mat-label>Legislatura</mat-label>
					<mat-select formControlName="IdreqWrLeg">
						<mat-option
							*ngFor="let legislature of (legislatureFindAllResponse$ | async)!.data"
							[value]="legislature | jsonData : 'IdLegislatura'"
						>
							{{ legislature | jsonData : 'LegDescripcion' }}
						</mat-option>
					</mat-select>

					<mat-error *ngIf="errorMatcher.isErrorState(IdreqWrLeg, null)">
						<span *ngIf="IdreqWrLeg.errors?.['required']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							La legislatura es requerido.
						</span>
					</mat-error>
				</mat-form-field>

				<!-- <mat-form-field appearance="fill">
					<mat-label>Legislatura</mat-label>
					<select formControlName="IdreqWrLeg" matNativeControl>
						<option
							*ngFor="let legislature of (legislatureFindAllResponse$ | async)!.data"
							[value]="legislature | jsonData : 'IdLegislatura'"
							[selected]="!(legislature | jsonData : 'LegEstado') === true"
						>
							{{ legislature | jsonData : 'LegDescripcion' }}
						</option>
					</select>
				</mat-form-field> -->

				<mat-form-field class="col-lg-12" appearance="outline">
					<mat-label>Título</mat-label>

					<input matInput maxlength="40" formControlName="RWTitle" placeholder="Título" />
					<mat-hint align="start">Máximo 40 carácteres. </mat-hint>
					<mat-hint align="end">{{ RWTitle.value.length }} / 40</mat-hint>
					<mat-error *ngIf="errorMatcher.isErrorState(RWTitle, null)">
						<span *ngIf="RWTitle.errors?.['required']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							El título es requerido.
						</span>

						<span *ngIf="RWTitle.errors?.['maxlength']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							Máximo 40 carácteres.
						</span>
					</mat-error>
				</mat-form-field>

				<mat-form-field class="example-full-width" appearance="outline">
					<mat-label>Descripción</mat-label>
					<textarea formControlName="RWSummary" rows="7" matInput></textarea>

					<mat-error *ngIf="errorMatcher.isErrorState(RWSummary, null)">
						<span *ngIf="RWSummary.errors?.['required']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							La descripción es requerida.
						</span>
					</mat-error>
				</mat-form-field>

				<mat-form-field class="col-lg-12" appearance="outline">
					<mat-label>Fecha de publicación</mat-label>
					<input
						matInput
						[matDatepicker]="RWPublicationDate"
						formControlName="RWPublicationDate"
					/>
					<mat-hint>MM/DD/YYYY</mat-hint>
					<mat-datepicker-toggle matSuffix [for]="RWPublicationDate"></mat-datepicker-toggle>
					<mat-datepicker touchUi #RWPublicationDate></mat-datepicker>
				</mat-form-field>

				<mat-form-field class="col-lg-12" appearance="outline">
					<mat-label>Fecha de emisión</mat-label>
					<input matInput [matDatepicker]="RWIssueDate" formControlName="RWIssueDate" />
					<mat-hint>MM/DD/YYYY</mat-hint>
					<mat-datepicker-toggle matSuffix [for]="RWIssueDate"></mat-datepicker-toggle>
					<mat-datepicker touchUi #RWIssueDate></mat-datepicker>
				</mat-form-field>

				<div class="z-container-raddio-button">
					<label class="z-label">Seleccionar la visibilidad</label>

					<mat-radio-group formControlName="RWVisibility" class="z-radio-group">
						<mat-radio-button class="z-radio-button" value="Público">
							Público
						</mat-radio-button>
						<mat-radio-button class="z-radio-button" value="Privado">
							Privado
						</mat-radio-button>
					</mat-radio-group>
				</div>
			</div>
		</div>
		<mat-dialog-actions align="end">
			<button mat-button mat-dialog-close>Cancelar</button>
			<button mat-button *ngIf="!(createIsLoading$ | async)">Guardar</button>
			<button mat-button *ngIf="createIsLoading$ | async" disabled>Guardando...</button>
		</mat-dialog-actions>
	</form>
</div>
