<div class="dialogContainer">
	<div class="dialogContainer__header">
		<h2 mat-dialog-title>Actualizar Categoría</h2>
		<button mat-icon-button mat-dialog-close>
			<mat-icon class="material-symbols-outlined">close</mat-icon>
		</button>
	</div>

	<form [formGroup]="formUpdate" (ngSubmit)="update()" novalidate="novalidate" autocomplete="off">
		<div mat-dialog-content>
			<div class="row">
				<mat-form-field class="col-lg-12" appearance="outline">
					<mat-label>Nombre Categoría</mat-label>

					<input
						matInput
						maxlength="50"
						formControlName="cat_nombre"
						placeholder="Nombre Categoría"
					/>
					<mat-hint align="start"
						>La abreviación debe tener como máximo 50 caracteres.
					</mat-hint>
					<mat-hint align="end">{{ cat_nombre.value.length }} / 50</mat-hint>
					<mat-error *ngIf="errorMatcher.isErrorState(cat_nombre, null)">
						<span *ngIf="cat_nombre.errors?.['required']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							El nombre de la categoría es requerida.
						</span>

						<span *ngIf="cat_nombre.errors?.['maxlength']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							El nombre de la categoría debe tener como máximo 50 caracteres.
						</span>

						<span *ngIf="cat_nombre.errors?.['pattern']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							El nombre de la categoría solo debe de tener cadenas de texto.
						</span>
					</mat-error>
				</mat-form-field>
			</div>
		</div>
		<mat-dialog-actions align="end">
			<button mat-button mat-dialog-close>Cancelar</button>
			<button mat-button *ngIf="!(updateIsLoading$ | async)">Guardar</button>
			<button mat-button *ngIf="updateIsLoading$ | async" disabled>Guardando...</button>
		</mat-dialog-actions>
	</form>
</div>
