<section class="z-home container-fluid">
	<div class="z-row row">
		<div class="z-col col-md-6">
			<div class="z-card-left">
				<div class="z-card">
					<img src="assets/brand/home.jpg" class="img-fluid" alt="smaple image" />
					<div class="z-absolute">
						<h1>Bienvenido</h1>
						<p>Empresa Metalúrgica Vinto</p>
					</div>
				</div>
			</div>
		</div>
		<div class="z-col z-card-right col-md-6">
			<div routerLink="/auth/user" class="z-col-container col-md-12">
				<div class="z-card">
					<div class="cws-card__asset">
						<img src="assets/brand/user.jpg" alt="User Admin" />
					</div>

					<div class="cws-card__content">
						<div class="cws-headline">Ingreso</div>
						<div class="cws-body">
							<p>Administrador <strong>ERP</strong></p>
						</div>
					</div>
				</div>
			</div>

			<div routerLink="/auth/erp" class="z-col-container col-md-12">
				<div class="z-card">
					<div class="cws-card__asset">
						<img src="assets/brand/erp.jpg" alt="User Admin" />
					</div>

					<div class="cws-card__content">
						<div class="cws-headline">Ingreso</div>
						<div class="cws-body">
							<p>Usuario <strong>ERP</strong></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
