<!-- <z-navbar></z-navbar> -->
<header>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg fixed-top navbar-scroll">
		<div class="container">
			<a class="navbar-brand" href="#!">Brand</a>
			<button
				class="navbar-toggler"
				type="button"
				data-mdb-toggle="collapse"
				data-mdb-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#!">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#!">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#!">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#!">Attractions</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#!">Opinions</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#!">Contact</a>
					</li>
				</ul>
				<ul class="navbar-nav d-flex flex-row">
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link" href="#!">
							<i class="fas fa-shopping-cart"></i>
						</a>
					</li>
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link" href="#!">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link" href="#!">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Navbar -->

	<!--Section: Design Block-->
	<section>
		<!-- Intro -->
		<div
			id="intro"
			class="text-center bg-image vh-100"
			style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/67.jpg')"
		>
			<div class="mask" style="background-color: rgba(0, 0, 0, 0.7)">
				<div class="d-flex justify-content-center align-items-center h-100 mt-4">
					<div class="text-white">
						<h1 class="display-3 fw-bold my-4">University</h1>
						<hr class="mb-4" style="opacity: 1" />
						<p class="lead mb-4 pb-2">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit deleniti consequuntur.
						</p>
						<a routerLink="/auth/user" class="btn btn-info btn-lg me-2 mb-2"> Events </a>
						<button class="btn btn-warning btn-lg mb-2">Courses</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Intro -->
	</section>
	<!--Section: Design Block-->
</header>

<main>
	<div class="container my-5">
		<!--Section: Design Block-->
		<section>
			<h3 class="text-center mb-5">About University</h3>

			<div class="row">
				<div class="col-lg-6 mb-4 mb-lg-0 pb-2 pb-lg-0 pb-xl-2">
					<img
						src="https://mdbootstrap.com/img/Photos/Horizontal/Architecture/4-col/img%20%289%29.jpg"
						class="img-fluid shadow-2-strong rounded"
						alt="Sample image"
					/>
				</div>
				<div class="col-lg-6 lead">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta
						ratione quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum, magni
						impedit eaque animi maxime.
					</p>
					<p>
						Nemo animi soluta ratione quisquam, dicta ab cupiditate iure eaque? Repellendus
						voluptatum, magni impedit eaque delectus, beatae maxime temporibus maiores
						quibusdam quasi rem magnam ad perferendis iusto.
					</p>
					<ul class="mb-0">
						<li>Nemo animi soluta ratione</li>
						<li>Beatae maxime temporibus</li>
						<li>Consectetur adipisicing elit</li>
						<li>Repellendus voluptatum, impedit</li>
					</ul>
				</div>
			</div>
		</section>
		<!--Section: Design Block-->

		<hr class="my-5" />

		<!--Section: Design Block-->
		<section>
			<h3 class="text-center mb-5">Organizational issues</h3>

			<p class="text-center mb-5 mx-auto w-responsive">
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
				nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
				officia deserunt mollit anim id est laborum.
			</p>

			<div class="row">
				<div class="col-12">
					<!-- Pills navs -->
					<ul
						class="nav nav-pills nav-justified mb-3 mx-n2 mt-n2"
						id="issuesTabs"
						role="tablist"
					>
						<li class="nav-item" role="presentation">
							<a
								class="nav-link active"
								id="students-tab"
								data-mdb-toggle="pill"
								href="#students"
								role="tab"
								aria-controls="students"
								aria-selected="true"
								><i class="fas fa-graduation-cap me-2"></i>Students</a
							>
						</li>
						<li class="nav-item" role="presentation">
							<a
								class="nav-link"
								id="candidates-tab"
								data-mdb-toggle="pill"
								href="#candidates"
								role="tab"
								aria-controls="candidates"
								aria-selected="false"
								><i class="fas fa-users me-2"></i>Candidates</a
							>
						</li>
						<li class="nav-item" role="presentation">
							<a
								class="nav-link"
								id="financial-tab"
								data-mdb-toggle="pill"
								href="#financial"
								role="tab"
								aria-controls="financial"
								aria-selected="false"
								><i class="fas fa-university me-2"></i>Financial</a
							>
						</li>
						<li class="nav-item" role="presentation">
							<a
								class="nav-link"
								id="housing-tab"
								data-mdb-toggle="pill"
								href="#housing"
								role="tab"
								aria-controls="housing"
								aria-selected="false"
								><i class="fas fa-home me-2"></i>Housing</a
							>
						</li>
					</ul>
					<!-- Pills navs -->

					<!-- Pills content -->
					<div class="tab-content pt-3" id="servicesContent">
						<div
							class="tab-pane fade show active"
							id="students"
							role="tabpanel"
							aria-labelledby="students-tab"
						>
							<div class="row">
								<div class="col-lg-6 mb-4 mb-lg-0 pb-2 pb-lg-0 pb-xl-2">
									<img
										src="https://mdbootstrap.com/img/Photos/Others/images/54.jpg"
										class="img-fluid shadow-2-strong rounded"
										alt="Sample image"
									/>
								</div>
								<div class="col-lg-6">
									<h4 class="mb-4">Academics Students</h4>
									<p class="lead mb-0">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi
										soluta ratione quisquam, dicta ab cupiditate iure eaque? Repellendus
										voluptatum, magni impedit eaque delectus, beatae maxime temporibus
										maiores quibusdam quasi.Rem magnam ad perferendis iusto sint tempora
										ea voluptatibus iure, animi excepturi modi aut possimus in hic
										molestias repellendus illo ullam odit quia velit.
									</p>
								</div>
							</div>
						</div>
						<div
							class="tab-pane fade"
							id="candidates"
							role="tabpanel"
							aria-labelledby="candidates-tab"
						>
							<div class="row">
								<div class="col-lg-6 mb-4 mb-lg-0 pb-2 pb-lg-0 pb-xl-2">
									<img
										src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2840%29.jpg"
										class="img-fluid shadow-2-strong rounded"
										alt="Sample image"
									/>
								</div>
								<div class="col-lg-6">
									<h4 class="mb-4">Information for Candidates</h4>
									<p class="lead mb-0">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi
										soluta ratione quisquam, dicta ab cupiditate iure eaque? Repellendus
										voluptatum, magni impedit eaque delectus, beatae maxime temporibus
										maiores quibusdam quasi.Rem magnam ad perferendis iusto sint tempora
										ea voluptatibus iure, animi excepturi modi aut possimus in hic
										molestias repellendus illo ullam odit quia velit.
									</p>
								</div>
							</div>
						</div>
						<div
							class="tab-pane fade"
							id="financial"
							role="tabpanel"
							aria-labelledby="financial-tab"
						>
							<div class="row">
								<div class="col-lg-6 mb-4 mb-lg-0 pb-2 pb-lg-0 pb-xl-2">
									<img
										src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2841%29.jpg"
										class="img-fluid shadow-2-strong rounded"
										alt="Sample image"
									/>
								</div>
								<div class="col-lg-6">
									<h4 class="mb-4">Financial Aid</h4>
									<p class="lead mb-0">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi
										soluta ratione quisquam, dicta ab cupiditate iure eaque? Repellendus
										voluptatum, magni impedit eaque delectus, beatae maxime temporibus
										maiores quibusdam quasi.Rem magnam ad perferendis iusto sint tempora
										ea voluptatibus iure, animi excepturi modi aut possimus in hic
										molestias repellendus illo ullam odit quia velit.
									</p>
								</div>
							</div>
						</div>
						<div
							class="tab-pane fade"
							id="housing"
							role="tabpanel"
							aria-labelledby="housing-tab"
						>
							<div class="row">
								<div class="col-lg-6 mb-4 mb-lg-0 pb-2 pb-lg-0 pb-xl-2">
									<img
										src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2842%29.jpg"
										class="img-fluid shadow-2-strong rounded"
										alt="Sample image"
									/>
								</div>
								<div class="col-lg-6">
									<h4 class="mb-4">Residential Life</h4>
									<p class="lead mb-0">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi
										soluta ratione quisquam, dicta ab cupiditate iure eaque? Repellendus
										voluptatum, magni impedit eaque delectus, beatae maxime temporibus
										maiores quibusdam quasi.Rem magnam ad perferendis iusto sint tempora
										ea voluptatibus iure, animi excepturi modi aut possimus in hic
										molestias repellendus illo ullam odit quia velit.
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- Pills content -->
				</div>
			</div>
		</section>
		<!--Section: Design Block-->
	</div>

	<!--Section: Design Block-->
	<section>
		<div
			class="bg-image bg-fixed text-center"
			style="
				background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Things/full%20page/img%20%287%29.jpg');
				height: 400px;
			"
		>
			<div class="mask" style="background-color: rgba(63, 81, 181, 0.7)">
				<div class="d-flex justify-content-center align-items-center h-100">
					<div class="text-white">
						<p class="display-6 mb-5">
							<i class="fas fa-quote-left fa-xs" aria-hidden="true"></i>
							Creativity requires the courage to let go of certainties
							<i class="fas fa-quote-right fa-xs" aria-hidden="true"></i>
						</p>
						<p class="lead font-italic mb-0">~ Erich Fromm</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Section: Design Block-->

	<div class="container my-5">
		<!--Section: Design Block-->
		<section class="text-center">
			<h3 class="mb-5">Top courses</h3>

			<div class="row">
				<div class="col-md-6 col-lg-3 mb-4 mb-md-0 pb-2">
					<div class="card">
						<div class="bg-image">
							<img
								src="https://mdbootstrap.com/img/Photos/Others/images/51.jpg"
								class="card-img-top"
								alt="Sample image"
							/>
						</div>
						<div class="card-body">
							<h5 class="card-title text-center my-3">Economy</h5>
							<hr class="my-3" />
							<p class="small">
								Some quick example text to build on the card title and make up the bulk of
								the card's content.
							</p>
							<a href="#!" class="float-end link-dark"
								>read more
								<i class="fas fa-long-arrow-alt-right ms-2" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 mb-4 mb-lg-0 pb-2">
					<div class="card">
						<div class="bg-image">
							<img
								src="https://mdbootstrap.com/img/Photos/Others/images/40.jpg"
								class="card-img-top"
								alt="Sample image"
							/>
						</div>
						<div class="card-body">
							<h5 class="card-title text-center my-3">Chemistry</h5>
							<hr class="my-3" />
							<p class="small">
								Some quick example text to build on the card title and make up the bulk of
								the card's content.
							</p>
							<a href="#!" class="float-end link-dark"
								>read more
								<i class="fas fa-long-arrow-alt-right ms-2" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 mb-4 mb-lg-0 pb-2">
					<div class="card">
						<div class="bg-image">
							<img
								src="https://mdbootstrap.com/img/Photos/Others/images/57.jpg"
								class="card-img-top"
								alt="Sample image"
							/>
						</div>
						<div class="card-body">
							<h5 class="card-title text-center my-3">Journalism</h5>
							<hr class="my-3" />
							<p class="small">
								Some quick example text to build on the card title and make up the bulk of
								the card's content.
							</p>
							<a href="#!" class="float-end link-dark"
								>read more
								<i class="fas fa-long-arrow-alt-right ms-2" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 pb-2">
					<div class="card">
						<div class="bg-image">
							<img
								src="https://mdbootstrap.com/img/Photos/Others/images/25.jpg"
								class="card-img-top"
								alt="Sample image"
							/>
						</div>
						<div class="card-body">
							<h5 class="card-title text-center my-3">Computer science</h5>
							<hr class="my-3" />
							<p class="small">
								Some quick example text to build on the card title and make up the bulk of
								the card's content.
							</p>
							<a href="#!" class="float-end link-dark"
								>read more
								<i class="fas fa-long-arrow-alt-right ms-2" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Section: Design Block-->

		<hr class="my-5" />

		<!--Section: Design Block-->
		<section>
			<style>
				.carousel-control-prev-icon,
				.carousel-control-next-icon {
					filter: invert(50%);
				}
				@media (max-width: 768px) {
					.carousel .content {
						width: 70%;
					}
				}
			</style>
			<h3 class="text-center mb-5">What Students said:</h3>

			<!-- Carousel wrapper -->
			<div id="carouselBasicExample" class="carousel slide" data-mdb-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li
						data-mdb-target="#carouselBasicExample"
						data-mdb-slide-to="0"
						class="active"
					></li>
					<li data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1"></li>
					<li data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2"></li>
				</ol>

				<!-- Inner -->
				<div class="carousel-inner text-center">
					<!-- Single item -->
					<div class="carousel-item active">
						<div class="row">
							<div class="col-md-12 col-lg-8 col-xl-8 mb-4 mx-auto">
								<img
									class="rounded-circle shadow-1-strong mb-4"
									src="https://mdbootstrap.com/img/Photos/Avatars/img%20(4).jpg"
									alt="avatar"
									style="width: 150px"
								/>
								<p class="mx-auto content">
									<i class="fas fa-quote-left pe-2"></i>
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
									dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem
									accusantium.
								</p>
								<h5 class="mb-3">Blake Dabney</h5>
								<ul class="list-unstyled d-flex justify-content-center text-info mb-0">
									<li><i class="fas fa-star fa-sm"></i></li>
									<li><i class="fas fa-star fa-sm"></i></li>
									<li><i class="fas fa-star fa-sm"></i></li>
									<li><i class="fas fa-star fa-sm"></i></li>
									<li><i class="fas fa-star fa-sm"></i></li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Single item -->
					<div class="carousel-item">
						<div class="row">
							<div class="col-md-12 col-lg-8 col-xl-8 mb-4 mx-auto">
								<img
									class="rounded-circle shadow-1-strong mb-4"
									src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg"
									alt="avatar"
									style="width: 150px"
								/>
								<p class="mx-auto content">
									<i class="fas fa-quote-left pe-2"></i>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
									officiis hic tenetur quae quaerat ad velit ab. Lorem ipsum dolor sit
									amet, consectetur adipisicing elit. Dolore cum accusamus eveniet
									molestias voluptatum inventore laboriosam labore sit, aspernatur
									praesentium iste impedit quidem dolor veniam.
								</p>
								<h5 class="mb-3">Robert Jacobs</h5>
								<ul class="list-unstyled d-flex justify-content-center text-info mb-0">
									<li><i class="fas fa-star fa-sm"></i></li>
									<li><i class="fas fa-star fa-sm"></i></li>
									<li><i class="fas fa-star fa-sm"></i></li>
									<li><i class="fas fa-star fa-sm"></i></li>
									<li><i class="fas fa-star-half-alt fa-sm"></i></li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Single item -->
					<div class="carousel-item">
						<div class="row">
							<div class="col-md-12 col-lg-8 col-xl-8 mb-4 mx-auto">
								<img
									class="rounded-circle shadow-1-strong mb-4"
									src="https://mdbootstrap.com/img/Photos/Avatars/img%20(6).jpg"
									alt="avatar"
									style="width: 150px"
								/>
								<p class="mx-auto content">
									<i class="fas fa-quote-left pe-2"></i>
									Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
									fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
									sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
									sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
									tempora incidunt ut labore.
								</p>
								<h5 class="mb-3">Andrea Clay</h5>
								<ul class="list-unstyled d-flex justify-content-center text-info mb-0">
									<li><i class="fas fa-star fa-sm"></i></li>
									<li><i class="fas fa-star fa-sm"></i></li>
									<li><i class="fas fa-star fa-sm"></i></li>
									<li><i class="fas fa-star fa-sm"></i></li>
									<li><i class="far fa-star fa-sm"></i></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- Inner -->

				<!-- Controls -->
				<a
					class="carousel-control-prev"
					href="#carouselBasicExample"
					role="button"
					data-mdb-slide="prev"
				>
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a
					class="carousel-control-next"
					href="#carouselBasicExample"
					role="button"
					data-mdb-slide="next"
				>
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<!-- Carousel wrapper -->
		</section>
		<!--Section: Design Block-->
	</div>
</main>

<footer class="text-white text-center text-lg-start" style="background-color: #1c2a48">
	<!-- Grid container -->
	<div class="container d-flex justify-content-center align-items-center text-center pt-5 pb-4">
		<div class="mb-2">
			<i class="fas fa-graduation-cap fa-4x text-warning mb-4"></i>
			<p class="h1 mb-4">Join Us</p>
			<p class="white-text mb-5">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
				incididunt ut labore et dolore magna aliqua.
			</p>
			<button type="button" class="btn btn-info btn-lg me-1">Application</button>
			<button type="button" class="btn btn-warning btn-lg ms-1">Contact</button>
		</div>
	</div>
	<hr style="background-color: rgba(0, 0, 0, 0.5)" />
	<div class="container p-4">
		<!--Grid row-->
		<div class="row mt-1">
			<!--Grid column-->
			<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
				<h5 class="text-uppercase mb-4">About University</h5>

				<p>
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
					voluptatum deleniti atque corrupti.
				</p>

				<p>
					Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
					molestias.
				</p>

				<div class="mt-4">
					<!-- Facebook -->
					<a type="button" class="btn btn-floating btn-info btn-lg"
						><i class="fab fa-facebook-f"></i
					></a>
					<!-- Dribbble -->
					<a type="button" class="btn btn-floating btn-info btn-lg"
						><i class="fab fa-dribbble"></i
					></a>
					<!-- Twitter -->
					<a type="button" class="btn btn-floating btn-info btn-lg"
						><i class="fab fa-twitter"></i
					></a>
					<!-- Google + -->
					<a type="button" class="btn btn-floating btn-info btn-lg"
						><i class="fab fa-google-plus-g"></i
					></a>
					<!-- Linkedin -->
				</div>
			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
				<h5 class="text-uppercase mb-4 pb-1">Search something</h5>

				<div class="form-outline form-white mb-4">
					<input type="text" id="formControlLg" class="form-control form-control-lg" />
					<label class="form-label" for="formControlLg">Search</label>
				</div>

				<ul class="fa-ul" style="margin-left: 1.65em">
					<li class="mb-3">
						<span class="fa-li"><i class="fas fa-home"></i></span
						><span class="ms-2">New York, NY 10012, US</span>
					</li>
					<li class="mb-3">
						<span class="fa-li"><i class="fas fa-envelope"></i></span
						><span class="ms-2">info@example.com</span>
					</li>
					<li class="mb-3">
						<span class="fa-li"><i class="fas fa-phone"></i></span
						><span class="ms-2">+ 01 234 567 88</span>
					</li>
					<li class="mb-3">
						<span class="fa-li"><i class="fas fa-print"></i></span
						><span class="ms-2">+ 01 234 567 89</span>
					</li>
				</ul>
			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div class="col-lg-4 col-md-6 mb-4 mb-md-0">
				<h5 class="text-uppercase mb-4">Recent news</h5>

				<ul class="list-unstyled">
					<li>
						<a>Ut enim ad minim veniam nostrud.</a
						><span>
							<p class="text-muted small">28 july 2018</p>
						</span>
					</li>
					<li>
						<a>Duis aute dolor in reprehenderit.</a
						><span>
							<p class="text-muted small">27 july 2018</p>
						</span>
					</li>
					<li>
						<a>Excepteur sint occaecat cupidatat.</a
						><span>
							<p class="text-muted small">26 july 2018</p>
						</span>
					</li>
					<li>
						<a>Sed perspiciatis unde omnis iste.</a
						><span>
							<p class="text-muted small">25 july 2018</p>
						</span>
					</li>
				</ul>
			</div>
			<!--Grid column-->
		</div>
		<!--Grid row-->
	</div>
	<!-- Grid container -->

	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
		© 2020 Copyright:
		<a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
	</div>
	<!-- Copyright -->
</footer>
