/* @import 'material';

@import 'zephyrus/theme/colors.module.scss';
@import 'zephyrus/theme/tokens.scss';
@import 'zephyrus/theme/typography.module.scss';

@import 'zephyrus/theme/theme.light.scss';
@import 'zephyrus/theme/theme.dark.scss'; */

@import 'variables';

// components
/* @import 'zephyrus/components/badge';
@import 'zephyrus/components/breadcrumb';
@import 'zephyrus/components/button';
@import 'zephyrus/components/card';
@import 'zephyrus/components/dialog';
@import 'zephyrus/components/file-list';
@import 'zephyrus/components/forms';
@import 'zephyrus/components/icon';
@import 'zephyrus/components/image';
@import 'zephyrus/components/nav-left';
@import 'zephyrus/components/radio-button';
@import 'zephyrus/components/scroll';
@import 'zephyrus/components/search';
@import 'zephyrus/components/select';
@import 'zephyrus/components/snackbar';
@import 'zephyrus/components/spinner';
@import 'zephyrus/components/tab';
@import 'zephyrus/components/table';
@import 'zephyrus/components/toolbar';
@import 'zephyrus/components/tooltip';
@import 'zephyrus/components/upload'; */

// pages
/* @import 'zephyrus/pages/adm-usuario';
@import 'zephyrus/pages/home';
@import 'zephyrus/pages/kam-persona-create';
@import 'zephyrus/pages/kam-persona-find-one';
@import 'zephyrus/pages/cat-rol-turno';
@import 'zephyrus/pages/dom-orgnivel';
@import 'zephyrus/pages/sct-documento';
@import 'zephyrus/pages/sct-emision'; */

/* * {
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	margin: 0;
	background: #f3f6fc !important;
} */
