<div class="z-container-image-upload">
	<!-- <img class="image-preview" [src]="imagePreview" *ngIf="imagePreview" /> -->
	<div>
		<h6>
			<small>{{ imageName }}</small>
		</h6>
	</div>
	<div class="upload-input-container">
		<div class="input-container">
			<!-- <input type="file" accept="image/*" (change)="onFileChange($event)" /> -->
			<input type="file" accept="application/pdf" (change)="onFileChange($event)" />
		</div>

		<button class="z-btn btn-upload" type="button">
			<mat-icon fontIcon="picture_as_pdf"></mat-icon>
			Añadir documento *.pdf
		</button>
	</div>
</div>
