<section>
	<div
		style="
			background-image: url('assets/brand/galery/backhome.png');
			background-repeat: no-repeat;
			background-size: cover;
		"
	>
		<div class="full-bg-img flex-center white-text rgba-stylish-strong">
			<ul class="animated fadeIn col-md-12 list-unstyled">
				<li class="mt-5 pt-5">
					<h2
						class="animate__animated animate__zoomInDown h1-responsive font-weight-bold mt-5 pt-5"
					>
						Marco Institucional
					</h2>
				</li>

				<li>
					<div class="mt-4 mb-4 container w-50">
						<z-line></z-line>
					</div>
					<h5 class="text-uppercase animate__animated animate__zoomInDown">
						Asamblea Legislativa Departamental de Oruro
					</h5>
				</li>

				<li class="pb-5">
					<a
						href="/inicio"
						class="animate__animated animate__zoomInDown mb-5 btn btn-danger btn-rounded waves-effect waves-light"
						rel="nofollow"
						>Inicio</a
					>
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="container team-section mt-2 mb-5">
	<div class="row mt-5 mb-4">
		<div class="col-md-12">
			<div class="divider-new" data-aos="fade-down">
				<h3
					class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn"
					data-wow-delay="0.2s"
					style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s"
				>
					Organigrama
				</h3>
			</div>
		</div>

		<p
			class="text-center grey-text w-responsive mx-auto mb-5 wow fadeIn d-block"
			data-wow-delay="0.2s"
			style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s"
			data-aos="fade-down"
		>
			La estructura de organización de la Asalea Legislativa Departamental de Oruro establece a
			través de No. 010/2010 de fecha 09 de julio de 2010 que aprueba el Reglamento General de la
			Asamblea Legislativa Departamental, tiene la siguiente estructura orgánica, Asamblea o
			Pleno, Directiva, Comisiones, Bancadas Parlamentarias y Sistema Administrativo.
		</p>
		<img src="assets/brand/organigrama.jpg" class="img-fluid" alt="" data-aos="zoom-in" />
	</div>
</section>
