<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	<div class="container-fluid">
		<button
			class="navbar-toggler"
			type="button"
			data-mdb-toggle="collapse"
			data-mdb-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<i class="fas fa-bars"></i>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<a class="navbar-brand mt-2 mt-lg-0" href="#">
				<img src="assets/brand/logo.png" height="40" alt="A.L.D.O. Logo" loading="lazy" />
			</a>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" routerLink="/inicio" routerLinkActive="z-nav-link-active"
						>Inicio</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/comisiones" routerLinkActive="z-nav-link-active"
						>Comisiones</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/convocatorias" routerLinkActive="z-nav-link-active"
						>Convocatorias</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/publicaciones" routerLinkActive="z-nav-link-active"
						>Publicaciones</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/gaceta" routerLinkActive="z-nav-link-active"
						>Gaceta</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/contracts" routerLinkActive="z-nav-link-active"
						>Contratos</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						routerLink="/departamentLaws"
						routerLinkActive="z-nav-link-active"
						>leyes departamentales</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						routerLink="/manageRecognition"
						routerLinkActive="z-nav-link-active"
						>Administracion Reconocimiento</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						routerLink="/requestReportOral"
						routerLinkActive="z-nav-link-active"
						>reporte oral</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						routerLink="/requestReportRegsiter"
						routerLinkActive="z-nav-link-active"
						>reporte escrito</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/resolution" routerLinkActive="z-nav-link-active"
						>resolucion</a
					>
				</li>
			</ul>
		</div>
		<div class="d-flex align-items-center">
			<!-- <button type="button" class="btn btn-link px-3 me-2">Login</button> -->

			<button routerLink="/auth/user" type="button" class="btn btn-primary me-3">
				Iniciar sesión
			</button>

			<a class="btn btn-dark px-3" href="#" role="button"><i class="fab fa-github"></i></a>
			<!-- <a class="text-reset me-3" href="#">
				<i class="fas fa-shopping-cart"></i>
			</a> -->

			<!-- <div class="dropdown">
				<a
					class="text-reset me-3 dropdown-toggle hidden-arrow"
					href="#"
					id="navbarDropdownMenuLink"
					role="button"
					data-mdb-toggle="dropdown"
					aria-expanded="false"
				>
					<i class="fas fa-bell"></i>
					<span class="badge rounded-pill badge-notification bg-danger">1</span>
				</a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
					<li>
						<a class="dropdown-item" href="#">Some news</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">Another news</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">Something else here</a>
					</li>
				</ul>
			</div>
			<div class="dropdown">
				<a
					class="dropdown-toggle d-flex align-items-center hidden-arrow"
					href="#"
					id="navbarDropdownMenuAvatar"
					role="button"
					data-mdb-toggle="dropdown"
					aria-expanded="false"
				>
					<img
						src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
						class="rounded-circle"
						height="25"
						alt="Black and White Portrait of a Man"
						loading="lazy"
					/>
				</a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
					<li>
						<a class="dropdown-item" href="#">My profile</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">Settings</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">Logout</a>
					</li>
					<li></li>
				</ul>
			</div> -->
		</div>
	</div>
</nav>
