<div class="dialogContainer">
	<div class="dialogContainer__header">
		<h2 mat-dialog-title>{{ title }}</h2>
		<button mat-icon-button mat-dialog-close>
			<mat-icon class="material-symbols-outlined">close</mat-icon>
		</button>
	</div>

	<form [formGroup]="zForm" (ngSubmit)="action()" novalidate="novalidate" autocomplete="off">
		<div mat-dialog-content>
			<div class="row">
				<div class="col-12 mb-3">
					<mat-label>Seleccionar Archivo Pdf</mat-label>
					<z-file-list
						[files]="paths"
						[type]="'document'"
						[isProgress]="false"
						[isBtnRemove]="true"
					></z-file-list>
					<button type="button" class="zBtn zBtnPrimary zBtnMd" (click)="openFileUpload()">
						<mat-icon fontIcon="upload" class="text-white"></mat-icon>
						<span>Subir</span>
					</button>
				</div>

				<mat-form-field class="col-lg-12" appearance="outline">
					<mat-label>Título</mat-label>

					<input matInput maxlength="40" formControlName="CTTitle" placeholder="Título" />
					<mat-hint align="start">El título debe tener como máximo 40 caracteres. </mat-hint>
					<mat-hint align="end">{{ CTTitle.value.length }} / 40</mat-hint>
					<mat-error *ngIf="errorMatcher.isErrorState(CTTitle, null)">
						<span *ngIf="CTTitle.errors?.['required']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							El título es requerido.
						</span>

						<span *ngIf="CTTitle.errors?.['maxlength']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							El título debe tener como máximo 40 caracteres.
						</span>
					</mat-error>
				</mat-form-field>

				<mat-form-field class="example-full-width" appearance="outline">
					<mat-label>Descripción</mat-label>
					<textarea formControlName="CTSummary" rows="7" matInput></textarea>

					<mat-error *ngIf="errorMatcher.isErrorState(CTSummary, null)">
						<span *ngIf="CTSummary.errors?.['required']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							El resumen es requerido.
						</span>
					</mat-error>
				</mat-form-field>

				<mat-form-field class="col-lg-12" appearance="outline">
					<mat-label>Fecha de la firma</mat-label>
					<input matInput [matDatepicker]="CTIssueDate" formControlName="CTIssueDate" />
					<mat-hint>MM/DD/YYYY</mat-hint>
					<mat-datepicker-toggle matSuffix [for]="CTIssueDate"></mat-datepicker-toggle>
					<mat-datepicker touchUi #CTIssueDate></mat-datepicker>
				</mat-form-field>

				<mat-form-field class="col-lg-12" appearance="outline">
					<mat-label>Número de documento</mat-label>
					<input
						matInput
						formControlName="CTDocumentNumber"
						placeholder="Número de documento"
					/>
					<mat-error *ngIf="errorMatcher.isErrorState(CTDocumentNumber, null)">
						<span *ngIf="CTDocumentNumber.errors?.['required']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							El número de documento es requerido.
						</span>
					</mat-error>
				</mat-form-field>

				<mat-form-field class="col-lg-12" appearance="outline">
					<mat-label>Tipo</mat-label>
					<mat-select formControlName="CTType">
						<mat-option *ngFor="let contract of ZListContract" [value]="contract.value">
							{{ contract.key }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<mat-dialog-actions align="end">
			<button mat-button mat-dialog-close>Cancelar</button>
			<button mat-button *ngIf="!(createIsLoading$ | async)">Guardar</button>
			<button mat-button *ngIf="createIsLoading$ | async" disabled>Guardando...</button>
		</mat-dialog-actions>
	</form>
</div>
