<header>
	<mdb-sidenav #sidenav class="fixed" [fixed]="true">
		<logo>
			<li>
				<div class="logo-wrapper waves-light">
					<a>
						<img src="assets/brand/logo.webp" class="img-fluid flex-center" />
					</a>
				</div>
			</li>
		</logo>

		<links class="z-croll">
			<li>
				<ul class="collapsible collapsible-accordion">
					<mdb-squeezebox [multiple]="false" aria-multiselectable="false">
						<mdb-item *ngFor="let path of zPaths" [ngClass]="{ 'no-collase': !path.collase }">
							<mdb-item-head mdbWavesEffect>
								<!-- <mat-icon fontIcon="{{ path.icon }}"></mat-icon> -->
								<mdb-icon fas icon="{{ path.icon }}" class="mr-1"></mdb-icon>
								{{ path.name }}
							</mdb-item-head>

							<mdb-item-body>
								<ul>
									<li *ngFor="let pathChildren of path.children">
										<a
											routerLink="{{ pathChildren.path }}"
											routerLinkActive="z-link-active"
											class="waves-effect"
											mdbWavesEffect
											>{{ pathChildren.name }}</a
										>
									</li>
								</ul>
							</mdb-item-body>
						</mdb-item>
					</mdb-squeezebox>
				</ul>
			</li>
			<!--/. Side navigation links -->
		</links>
	</mdb-sidenav>

	<mdb-navbar
		SideClass="navbar navbar-expand-md scrolling-navbar double-nav"
		[containerInside]="false"
	>
		<navlinks class="navbar-container">
			<div class="float-xs-left">
				<a (click)="sidenav.show()" class="button-collapse-non-fixed">
					<!-- <mat-icon fontIcon="menu"></mat-icon> -->
					<mdb-icon fas icon="bars"></mdb-icon>
				</a>
			</div>
		</navlinks>
		<logo>
			<div class="breadcrumbs breadcrumb-dn mr-auto">
				<p>Asamblea Legislativa Departamental de Oruro</p>
			</div>
		</logo>
		<navlinks>
			<ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
				<li class="nav-item z-nav-item">
					<button mat-icon-button [matMenuTriggerFor]="menu">
						<img class="z-avatar" alt="Account profile image" src="assets/brand/avatar.png" />
					</button>
					<mat-menu class="z-options-menu" #menu="matMenu">
						<div class="z-container-profile">
							<img alt="Account profile image" src="assets/brand/avatar.png" />
							<h4>David MV</h4>
							<h6>moralesvegadavid@gmail.com</h6>
						</div>

						<button (click)="logout()" mat-menu-item>
							<mat-icon>close</mat-icon>
							<span>Salir</span>
						</button>
					</mat-menu>
				</li>
			</ul>
		</navlinks>
	</mdb-navbar>
	<!--/. Navbar -->
</header>
<!--/.Double navigation-->
