<div class="dialogContainer">
	<div class="dialogContainer__header">
		<h2 mat-dialog-title>Crear archivo</h2>
		<button mat-icon-button mat-dialog-close>
			<mat-icon class="material-symbols-outlined">close</mat-icon>
		</button>
	</div>

	<form [formGroup]="formUpdate" (ngSubmit)="update()" novalidate="novalidate" autocomplete="off">
		<div mat-dialog-content>
			<div class="row">
				<div class="col-12">
					<z-upload-input-type-document
						(onUpload)="handleUpload($event)"
					></z-upload-input-type-document>
				</div>

				<mat-form-field
					*ngIf="!(legislatureFindAllIsLoading$ | async)"
					class="col-lg-12 mb-2"
					appearance="outline"
				>
					<mat-label>Legislatura</mat-label>
					<mat-select formControlName="IdresolLeg">
						<mat-option
							*ngFor="let legislature of (legislatureFindAllResponse$ | async)!.data"
							[value]="legislature | jsonData : 'IdLegislatura'"
						>
							{{ legislature | jsonData : 'LegDescripcion' }}
						</mat-option>
					</mat-select>

					<mat-error *ngIf="errorMatcher.isErrorState(IdresolLeg, null)">
						<span *ngIf="IdresolLeg.errors?.['required']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							La legislatura es requerido.
						</span>
					</mat-error>
				</mat-form-field>

				<mat-form-field class="col-lg-12" appearance="outline">
					<mat-label>Código</mat-label>
					<input matInput maxlength="40" formControlName="arch_code" />
					<mat-hint align="start">Máximo 50 caracteres. </mat-hint>
					<mat-hint align="end">{{ arch_code.value.length }} / 40</mat-hint>
					<mat-error *ngIf="errorMatcher.isErrorState(arch_code, null)">
						<span *ngIf="arch_code.errors?.['required']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							El código es requerido.
						</span>
						<span *ngIf="arch_code.errors?.['maxlength']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							Máximo 40 caracteres.
						</span>
					</mat-error>
				</mat-form-field>

				<mat-form-field class="col-lg-12" appearance="outline">
					<mat-label>Nombre del archivo</mat-label>
					<input matInput maxlength="40" formControlName="arch_name" />
					<mat-hint align="start">Máximo 50 caracteres. </mat-hint>
					<mat-hint align="end">{{ arch_name.value.length }} / 40</mat-hint>
					<mat-error *ngIf="errorMatcher.isErrorState(arch_name, null)">
						<span *ngIf="arch_name.errors?.['required']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							El nombre del archivo es requerido.
						</span>
						<span *ngIf="arch_name.errors?.['maxlength']">
							<i class="fas fa-exclamation-circle mr-1"></i>
							Máximo 40 caracteres.
						</span>
					</mat-error>
				</mat-form-field>
			</div>
		</div>
		<mat-dialog-actions align="end">
			<button mat-button mat-dialog-close>Cancelar</button>
			<button mat-button *ngIf="!(updateIsLoading$ | async)">Guardar</button>
			<button mat-button *ngIf="updateIsLoading$ | async" disabled>Guardando...</button>
		</mat-dialog-actions>
	</form>
</div>
